footer {
    height: 497px;
    background-color: var(--color-negro);
    color: #FFF;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 50px;
}


.footer_links ul {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1.32rem;
}

.footer_links ul li a {
    font-size: 1.87rem;

}

.footer_contacto {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1.32rem;
    font-size: 1.6rem;
}

.footer_asociados {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.footer_fundaciones {
    display: flex;
    gap: 60px;
    justify-content: flex-end;
}

.footer_redes {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 60px;
}

/*##### Media query #####*/

/* Móvil */
@media (max-width: 480px) {
    footer {
        height: 930px;
        padding: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .footer_links ul,
    .footer_contacto {
        align-items: center;
    }

    .footer_links ul li a {
        font-size: 1.4rem;
    }

    .footer_contacto {
        font-size: 1.3rem;
    }

    .footer_fundaciones {
        justify-content: center;
        display: flex;
        gap: 30px;
        flex-direction: column;
        align-items: center;
    }

    .footer_redes {

        justify-content: center;
    }
}



/* Teléfonos grandes */
@media (min-width: 481px) and (max-width: 767px) {
    footer {
        height: 750px;
        padding: 20px;
        flex-direction: column;
        align-items: center;
    }

    .footer_links ul,
    .footer_contacto {
        align-items: center;
    }

    .footer_links ul li a {
        font-size: 1.4rem;
    }

    .footer_contacto {
        font-size: 1.4rem;
    }

    .footer_fundaciones,
    .footer_redes {

        justify-content: center;
    }
}

/* Tablets vertical */
@media (min-width: 768px) and (max-width: 1023px) {
    footer {
        height: 333px;
        justify-content: center;
        gap: 70px;
        padding: 50px;
    }

    .footer_links ul li a {
        font-size: 1rem;
    }

    .footer_contacto {
        gap: 1rem;
        font-size: 0.9rem;
    }

    .footer_fundaciones {
        gap: 0px;
    }

    .footer_asociados {
        width: 370px;
        gap: 40px;
        align-items: flex-end;
    }

    .footer_asociados img {
        width: 80%;
    }

    .footer_fundaciones img:nth-child(1) {
        width: 40%;
    }

    .footer_fundaciones img:nth-child(2) {
        width: 30%;
        margin-left: 20px;
    }

    .footer_redes {
        gap: 40px;
    }

    .footer_redes img {
        width: 50%
    }

}





/* Tablets horizontal / laptops chicas */
@media (min-width: 1024px) and (max-width: 1279px) {

    footer {
        height: 380px;
        justify-content: center;
        gap: 70px;
        padding: 50px;
    }

    .footer_links ul li a {
        font-size: 1.4rem;
    }

    .footer_contacto {
        gap: 1rem;
        font-size: 1.2rem;
    }

    .footer_fundaciones {
        gap: 0px;
    }

    .footer_asociados {
        width: 370px;
        gap: 40px;
        align-items: flex-end;
    }

    .footer_asociados img {
        width: 70%;
    }

    .footer_fundaciones img:nth-child(1) {
        width: 40%;
    }

    .footer_fundaciones img:nth-child(2) {
        width: 30%;
        margin-left: 20px;
    }

    .footer_redes {
        gap: 40px;
    }
}

/* Desktop normal */
@media (min-width: 1280px) and (max-width: 1535px) {}