.banner_principal {
  height: 710px;
  background-image: url(../assets/bg-home.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.titular_principal {

  text-align: center;
  max-width: 26ch;
  font-size: 4rem;
  color: var(--color-beige);
  font-family: var(--font-SF);
  font-weight: var(--Sf-regular);
}

.titular_principal_bold {
  font-size: 4rem;
  color: var(--color-beige);
  font-family: var(--font-SF);
  font-weight: var(--Sf-medium);
}



.container-about-us {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 300px;
  padding: 148px 0px;
}

.container-about-us p {
  font-family: var(--font-SF);
  font-weight: var(--Sf-light);
  font-size: 2rem;
  min-width: 7ch;
}

.about-info {
  display: flex;
  flex-direction: column;
  max-width: 109ch;
  gap: 54px;
}

.about-info h2 {
  font-family: var(--font-SF);
  font-weight: var(--Sf-semiBold);
  font-size: 3.1rem;
}

.about-info h3 {
  font-family: var(--font-SF);
  font-weight: var(--Sf-light);
  font-size: 2.5rem;
}



.section-planificacion {
  height: 1065px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-planificacion {
  height: 1025px;
  width: 1774px;
  border-radius: 27px;
  background-color: var(--color-beige);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 200px;
}

.container-planificacion-textos {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding-left: 62px;
}

.container-planificacion-textos h2 {
  font-family: var(--font-SF);
  font-weight: var(--Sf-light);
  font-size: 4.4rem;
  max-width: 20ch;
}

.container-planificacion-textos h3 {
  font-family: var(--font-SF);
  font-weight: var(--Sf-light);
  font-size: 2.5rem;
  max-width: 32ch;
  letter-spacing: -0.3px;
}

.container-planificacion-pasos {
  display: flex;
  flex-direction: column;
  gap: 150px;
}

.container-planificacion-pasos-superior {
  display: flex;
  gap: 120px;
}

.container-planificacion-pasos-inferior {
  display: flex;
  gap: 120px;
}

.container-plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 22ch;
  text-align: center;
  gap: 57px;
  width: 224px;
}

.plan-price-text {
  max-width: 18ch;
}

.info-plan {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.info-plan-price {
  padding-top: 15px
}

.info-plan>h6 {
  font-family: var(--font-Gotham);
  font-weight: var(--Gotham-medium);
  font-size: 1.2rem;
}

.info-plan>p {
  font-family: var(--font-SF);
  font-weight: var(--Sf-light);
  font-size: 1rem;
}



/*###### ANIMACIONES #######*/



.titular_principal {
  transform: translateY(200px);
  opacity: 0;
  transition: all 0.8s ease-in-out;
}

.titular_principal.aos-animate {
  transform: translateY(0);
  opacity: 1;
}

.banner_principal img {
  opacity: 0;
  transform: translateY(-100px) scale(2);
  transition: all 1s ease-out;
}

.banner_principal img.aos-animate {
  opacity: 1;
  transform: translateY(0) scale(1);
}




/*##### Media query #####*/

/* Móvil */
@media (max-width: 480px) {
  .container-about-us {
    flex-direction: column;
  }

  .titular_principal,
  .titular_principal_bold {
    font-size: 3rem;
  }

  .container-about-us {
    gap: 40px;
    padding: 50px 50px;
  }

  .about-info h2 {
    font-size: 1.8rem;

  }

  .about-info h3 {
    font-size: 2rem;

  }

  .container-planificacion {
    flex-direction: column;
    height: auto;
    width: 90%;
    gap: 20px;
    padding: 30px 0px;
  }

  .section-planificacion {
    height: 1800px;
  }

  .container-planificacion-textos {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding-left: 40px;
  }


  .container-planificacion-textos h2 {
    font-size: 1.5rem;
    max-width: 18ch;
  }


  .container-planificacion-textos h3 {
    font-size: 1.3rem;
    max-width: 19ch;
  }


  .container-planificacion-pasos {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 30px 0px;
    width: 100%;
    align-items: center;
  }

  .container-planificacion-pasos-superior,
  .container-planificacion-pasos-inferior {
    display: flex;
    gap: 40px;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .container-plan {
    max-width: 22ch;
    text-align: center;
    gap: 10px;
  }

  .container-plan img {
    width: 40%;
  }

  .container-planificacion-pasos-inferior>.container-plan:nth-child(2) img {
    width: 33%;
  }

  .info-plan {
    gap: 5px;
  }

  .info-plan>h6 {
    font-size: 1rem;
  }

  .info-plan>p {
    font-size: 1rem;
  }
}



/* Teléfonos grandes */
@media (min-width: 481px) and (max-width: 767px) {
  .container-about-us {
    flex-direction: column;
  }

  .titular_principal,
  .titular_principal_bold {
    font-size: 3.2rem;
    max-width: 20ch;
  }

  .container-about-us {
    gap: 40px;
    padding: 50px 50px;
  }

  .about-info h2 {
    font-size: 2.5rem;

  }

  .about-info h3 {
    font-size: 2rem;

  }

  .container-planificacion {
    flex-direction: column;
    height: auto;
    width: 90%;
    gap: 20px;
    padding: 30px 0px;
  }

  .section-planificacion {
    height: 1800px;
  }

  .container-planificacion-textos {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding-left: 40px;
  }


  .container-planificacion-textos h2 {
    font-size: 2rem;
    max-width: 18ch;
  }


  .container-planificacion-textos h3 {
    font-size: 1.8rem;
    max-width: 19ch;
  }


  .container-planificacion-pasos {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 30px 0px;
  }

  .container-planificacion-pasos-superior,
  .container-planificacion-pasos-inferior {
    display: flex;
    gap: 40px;
    flex-direction: column;
  }

  .container-plan {
    max-width: 16ch;
    text-align: center;
    gap: 10px;
  }

  .container-plan img {
    width: 40%;
  }

  .container-planificacion-pasos-inferior>.container-plan:nth-child(2) img {
    width: 33%;
  }

  .info-plan {
    gap: 5px;
  }

  .info-plan>h6 {
    font-size: 1rem;
  }

  .info-plan>p {
    font-size: 0.8rem;
  }
}

/* Tablets vertical */
@media (min-width: 768px) and (max-width: 1023px) {

  .titular_principal,
  .titular_principal_bold {
    font-size: 3rem;
    max-width: 20ch;
  }

  .container-about-us {
    gap: 90px;
    padding: 150px 50px;
  }

  .about-info h2 {
    font-size: 2.5rem;

  }

  .about-info h3 {
    font-size: 2rem;

  }



  .container-planificacion {
    height: auto;
    width: 90%;
    gap: 80px;
  }

  .container-planificacion-textos {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding-left: 40px;
  }


  .container-planificacion-textos h2 {
    font-size: 2rem;
    max-width: 18ch;
  }


  .container-planificacion-textos h3 {
    font-size: 1.8rem;
    max-width: 19ch;
  }


  .container-planificacion-pasos {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 30px 0px;
  }

  .container-planificacion-pasos-superior,
  .container-planificacion-pasos-inferior {
    display: flex;
    gap: 40px;
    flex-direction: column;
  }

  .container-plan {
    max-width: 16ch;
    text-align: center;
    gap: 10px;
  }

  .container-plan img {
    width: 40%;
  }

  .container-planificacion-pasos-inferior>.container-plan:nth-child(2) img {
    width: 33%;
  }

  .info-plan {
    gap: 5px;
  }

  .info-plan>h6 {
    font-size: 1rem;
  }

  .info-plan>p {
    font-size: 0.8rem;
  }

}





/* Tablets horizontal / laptops chicas */
@media (min-width: 1024px) and (max-width: 1279px) {
  .titular_principal {
    font-size: 3.5rem;
  }

  .titular_principal_bold {
    font-size: 3.5rem;
  }

  .container-about-us {
    gap: 180px;
    padding: 100px 50px;
  }

  .container-about-us p {
    font-size: 1.8rem;
  }

  .about-info h2 {
    font-size: 2.8rem;
  }

  .about-info h3 {
    font-size: 2.3rem;
  }



  .container-planificacion {
    height: 1025px;
    width: 90%;
    border-radius: 27px;
    background-color: var(--color-beige);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 96px;
    padding: 10px;
  }

  .container-planificacion-textos h2 {
    font-size: 2rem;
    max-width: 100%;
  }

  .container-planificacion-textos h3 {
    font-size: 1.6rem;
  }

  .container-planificacion-pasos-superior,
  .container-planificacion-pasos-inferior {
    gap: 60px;
  }

  .container-plan {
    gap: 40px;
    width: 200px;
  }

  .container-plan img {
    width: 60%;
  }

  .container-planificacion-pasos-inferior>.container-plan:nth-child(2) img {
    width: 33%;
  }

  .info-plan-price {
    padding-top: 0px;
  }

  .plan-price-text {
    max-width: 22ch;
  }

  .info-plan>p {
    font-size: 0.8rem;
  }
}

/* Desktop normal */
@media (min-width: 1280px) and (max-width: 1535px) {
  .container-about-us {
    gap: 250px;
    padding: 148px 50px;
  }

  .section-planificacion {
    height: 1400px;
  }

  .container-planificacion {
    height: 1200px;
    width: 1400px;
  }

  .container-planificacion-textos h2 {
    font-size: 3.5rem;
  }

  .container-planificacion-textos h3 {
    font-size: 2rem;
  }


  .container-planificacion-pasos {
    padding-right: 62px;
  }

  .container-contactanos {
    padding: 0px 50px;
  }

  .container-contactanos h2 {
    font-size: 4.5rem;
  }

}