.first-section-inside-iag {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px 80px;
    margin-top: 200px;
}

.container-texts-inside-iag {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding-left: 8%;
}

.container-texts-inside-iag h2 {
    font-family: var(--font-Gotham);
    font-weight: var(--Gotham-medium);
    font-size: 5rem;
}

.container-texts-inside-iag h4 {
    font-family: var(--font-Sf);
    font-weight: var(--Sf-light);
    font-size: 2.5rem;
}

.container-paragraphs {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.container-paragraphs p {
    font-family: var(--font-Sf);
    font-weight: var(--Sf-light);
    font-size: 1.8rem;
}

.container-sticker {
    position: absolute;
}

.container-sticker img {
    position: relative;
    top: calc(3vw);
    right: calc(-73vw);
}

.second-section-inside-iag {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-message {
    margin-top: 130px;
    margin-bottom: 100px;
    width: 95%;
    height: auto;
    background-color: var(--color-violacio);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 140px;
    border-radius: 21px;
}

.container-message h3 {
    color: #FFF;
    font-family: var(--font-Sf);
    font-weight: var(--Sf-light);
    font-size: 3rem;
    text-align: center;
    max-width: 75%;
    margin-bottom: 100px;
    font-style: italic;
}

.container-message span {
    color: #FFF;
    font-family: var(--font-Sf);
    font-weight: var(--Sf-semiBold);
    font-size: 1.5rem;
}

.container-message p {
    color: #FFF;
    font-family: var(--font-Sf);
    font-weight: var(--Sf-regular);
    font-size: 1.5rem;
}

.section-partners {
    margin-top: 130px;
    margin-bottom: 100px;
    width: 100%;
    height: auto;
    background-color: var(--color-beige);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 140px;
}

.container-titular {
    width: 630px;
    height: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-negro);
    border-radius: 80px 105px 105px 0px;
}

.container-titular h4 {
    color: var(--color-beige);
    font-family: var(--font-Gotham);
    font-weight: var(--Gotham-medium);
    font-size: 2rem;
}

.logos-partners {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 145px;
}


/*##### Media query #####*/

/* Móvil */
@media (max-width: 480px) {
    .container-inside-iag {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .first-section-inside-iag {
        width: 90%;
        padding: 0px 10px;
        margin-top: 100px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .first-section-inside-iag img {
        width: 100%;
    }

    .container-texts-inside-iag {
        gap: 30px;
    }

    .container-texts-inside-iag h2 {
        font-size: 3.2rem;
    }

    .container-texts-inside-iag h4 {
        font-size: 1.6rem;
    }

    .container-paragraphs p {
        font-size: 1.2rem;
    }

    .container-message {
        margin-top: 130px;
        margin-bottom: 30px;
        width: 95%;
        padding: 40px 10px;
    }

    .container-message h3 {
        font-size: 1.6rem;
        max-width: 90%;
        margin-bottom: 60px;
    }

    .container-message p,
    .container-message span {
        font-size: 1rem;
    }


    .container-sticker img {
        display: none;
        top: calc(482vw);
        right: calc(-15vw);
        width: 70%;
    }

    .container-titular {
        width: 300px;
        height: 80px;
    }

    .container-titular h4 {
        font-size: 1rem;
    }

    .section-partners {
        margin-bottom: 0px;
        padding: 40px;
    }

    .logos-partners {
        gap: 80px;
    }

    .logos-partners img {
        width: 50%;
    }
}



/* Teléfonos grandes */
@media (min-width: 481px) and (max-width: 767px) {
    .container-inside-iag {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .first-section-inside-iag {
        width: 90%;
        padding: 0px 10px;
        margin-top: 100px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .first-section-inside-iag img {
        width: 80%;
    }

    .container-texts-inside-iag {
        gap: 30px;
    }

    .container-texts-inside-iag h2 {
        font-size: 3.2rem;
    }

    .container-texts-inside-iag h4 {
        font-size: 1.6rem;
    }

    .container-paragraphs p {
        font-size: 1.2rem;
    }

    .container-message {
        margin-top: 130px;
        margin-bottom: 30px;
        width: 95%;
        padding: 83px;
    }

    .container-message h3 {
        font-size: 1.6rem;
        max-width: 90%;
        margin-bottom: 60px;
    }

    .container-message p,
    .container-message span {
        font-size: 1rem;
    }


    .container-sticker img {
        top: calc(316vw);
        right: calc(-20vw);
        width: 60%;
    }

    .container-titular {
        width: 400px;
        height: 80px;
    }

    .container-titular h4 {
        font-size: 1.4rem;
    }

    .logos-partners {
        gap: 80px;
    }

    .logos-partners img {
        width: 100%;
    }
}

/* Tablets vertical */
@media (min-width: 768px) and (max-width: 1023px) {
    .first-section-inside-iag {
        width: 90%;
        padding: 0px 10px;
        margin-top: 100px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .first-section-inside-iag img {
        width: 50%;
    }

    .container-texts-inside-iag {
        gap: 30px;
    }

    .container-texts-inside-iag h2 {
        font-size: 3.2rem;
    }

    .container-texts-inside-iag h4 {
        font-size: 1.6rem;
    }

    .container-paragraphs p {
        font-size: 1.2rem;
    }

    .container-message {
        margin-top: 130px;
        margin-bottom: 30px;
        width: 95%;
        padding: 83px;
    }

    .container-message h3 {
        font-size: 2rem;
        max-width: 90%;
        margin-bottom: 60px;
    }

    .container-message p,
    .container-message span {
        font-size: 1.2rem;
    }


    .container-sticker img {
        position: relative;
        top: calc(11vw);
        right: calc(-59vw);
        width: 60%;
    }

    .container-titular {
        width: 460px;
        height: 80px;
    }

    .container-titular h4 {
        font-size: 1.6rem;
    }

    .logos-partners {
        gap: 79px;
    }

    .logos-partners img {
        width: 30%;
    }
}





/* Tablets horizontal / laptops chicas */
@media (min-width: 1024px) and (max-width: 1279px) {
    .first-section-inside-iag {
        width: 90%;
        padding: 0px 40px;
        margin-top: 100px;
    }

    .first-section-inside-iag img {
        width: 50%;
    }

    .container-texts-inside-iag {
        gap: 30px;
    }

    .container-texts-inside-iag h2 {
        font-size: 3.2rem;
    }

    .container-texts-inside-iag h4 {
        font-size: 1.6rem;
    }

    .container-paragraphs p {
        font-size: 1.2rem;
    }

    .container-message {
        margin-top: 130px;
        margin-bottom: 30px;
        width: 95%;
        padding: 83px;
    }

    .container-message h3 {
        font-size: 2rem;
        max-width: 90%;
        margin-bottom: 60px;
    }

    .container-message p,
    .container-message span {
        font-size: 1.2rem;
    }


    .container-sticker img {
        position: relative;
        top: calc(7vw);
        right: calc(-64vw);
        width: 70%;
    }

    .logos-partners {
        gap: 79px;
    }

    .logos-partners img {
        width: 30%;
    }
}

/* Desktop normal */
@media (min-width: 1280px) and (max-width: 1535px) {

    .first-section-inside-iag img {
        width: 40%;
    }

    .container-texts-inside-iag h2 {
        font-size: 4rem;
    }

    .container-texts-inside-iag h4 {
        font-size: 2.2rem;
    }

    .container-paragraphs p {
        font-size: 1.6rem;
    }

    .container-message h3 {
        font-size: 2.2rem;
    }

    .container-message p {
        font-size: 1.3rem;
    }

    .container-sticker img {
        width: 70%;
        position: relative;
        top: calc(6vw);
        right: calc(-75vw);
    }

    .logos-partners img {
        width: 30%;
    }
}