.section-info-travel h2 {
    max-width: 22ch;
}

.section-info-travel h4 {
    max-width: 51ch;
}


.card-container-sections div {
    background-color: var(--color-verde);
}

.section-info-travel .important-items {
    margin-top: 80px;
}

.section-info-travel .important-items span {
    font-weight: var(--Sf-medium);
    font-size: 2rem;
    color: var(--color-verde);
}

.section-info-travel .important-items p {
    margin-bottom: 10px;
}



/*##### Media query #####*/

/* Móvil */
@media (max-width: 480px) {}



/* Teléfonos grandes */
@media (min-width: 481px) and (max-width: 767px) {}

/* Tablets vertical */
@media (min-width: 768px) and (max-width: 1023px) {}





/* Tablets horizontal / laptops chicas */
@media (min-width: 1024px) and (max-width: 1279px) {}

/* Desktop normal */
@media (min-width: 1280px) and (max-width: 1535px) {
    .section-info-travel .important-items span {
        font-size: 1.8rem;
    }
}