header {
  height: 180px;
  background-color: #FFF;
}

nav {
  display: flex;
  height: 100%;
  margin-left: 60px;
  margin-right: 60px;
  gap: 120px;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

nav ul {
  gap: 60px
}

.nav-link {
  font-size: 1.6rem;
  font-weight: var(--Sf-regular);
  transition: font-weight 0.2s ease;
}

.nav-link:hover {
  font-weight: var(--Sf-regular);
}

.nav-link.active {
  font-size: 1.6rem;
  font-weight: var(--Sf-semiBold);
}

.nav_desplegable {
  position: relative;
  display: inline-block;
}

.container-submenu {
  right: -50px;
  position: absolute;
  display: none;
  background: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 160px;
  z-index: 10;
  width: 250px;
  border-radius: 20px;
  padding: 30px;
}

.submenu {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.container-submenu .submenu li a {
  font-size: 1.3rem;
}

.container-submenu .submenu li a:hover {
  font-weight: var(--Sf-semiBold);
}

.nav_desplegable:hover .container-submenu {
  display: block;
}

.menu_hamburguesa,
.label_hamburguesa {
  display: none;
}

/*##### Media query #####*/

/* Móvil */
@media (max-width: 480px) {
  nav {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
    align-content: center;
    justify-content: space-between;
  }

  nav ul {
    gap: 60px
  }

  .menu_mobile {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  label {
    display: inline-block;
  }

  .menu_hamburguesa {
    display: none;
  }

  .nav_desplegable {
    position: relative;
    display: inline-block;
  }

  .container-submenu {
    right: -50px;
    position: absolute;
    display: none;
    background: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 160px;
    z-index: 10;
    width: 250px;
    border-radius: 20px;
    padding: 30px;
  }

  .submenu {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }



}



/* Teléfonos grandes */
@media (min-width: 481px) and (max-width: 767px) {

  .menu_hamburguesa,
  .menu_hamburguesa>label {
    display: inline-block;
  }
}

/* Tablets vertical */
@media (min-width: 768px) and (max-width: 1023px) {
  nav {
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
    justify-content: space-evenly;
  }

  .menu_mobile {
    width: 250px;

  }

  .nav-link {
    font-size: 0.7rem;
  }

  .nav-link.active {
    font-size: 0.8rem;
  }

  .menu_mobile img {
    width: 80%;
  }

  nav ul {
    gap: 30px;
  }


  .menu_hamburguesa,
  .label_hamburguesa {
    display: none;
  }


}





/* Tablets horizontal / laptops chicas */
@media (min-width: 1024px) and (max-width: 1279px) {

  nav {
    margin-left: 30px;
    margin-right: 30px;
    gap: 20px;
    justify-content: center;
  }

  .container-submenu {
    width: 200px;
  }

  .container-submenu .submenu li a {
    font-size: 0.9rem;
  }

  .container-submenu .submenu li a:hover {
    font-size: 0.9rem;
  }

  .menu_mobile {
    width: 250px;
  }

  .menu_mobile img {
    width: 70%;
  }

  .nav-link {
    font-size: 0.8rem;
  }

  .nav-link.active {
    font-size: 0.9rem;
  }


  nav ul {
    gap: 40px;
  }

  .menu_hamburguesa,
  .label_hamburguesa {
    display: none;
  }


  .nav-link {
    font-size: 1rem;
  }

  .nav-link.active {
    font-size: 1.2rem;
  }
}

/* Desktop normal */
@media (min-width: 1280px) and (max-width: 1535px) {

  .nav-link,
  .nav-link.active {
    font-size: 1.3rem;
  }

  .menu_hamburguesa,
  .label_hamburguesa {
    display: none;
  }


  nav {
    margin-left: 50px;
    margin-right: 50px;
    gap: 70px;
  }
}