/* === Reset básico moderno === */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background-color: #fff;
  color: #000;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

body {
  font-family: var(--font-SF);
}

h1,
h2 {
  font-family: var(--font-Gotham);
}

/* === SF Pro Display === */
@font-face {
  font-family: 'SF Pro Display';
  src: url('../assets/fonts/SFProDisplay-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../assets/fonts/SFProDisplay-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../assets/fonts/SFProDisplay-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../assets/fonts/SFProDisplay-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* === Gotham === */
@font-face {
  font-family: 'Gotham';
  src: url('../assets/fonts/Gotham-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('../assets/fonts/GothamNarrow-Medium.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('../assets/fonts/Gotham-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-naranja: #F37E43;
  --color-celeste: #00ADB5;
  --color-verde: #A3BF5E;
  --color-violacio: #5A73D6;
  --color-beige: #F5F1EA;
  --color-negro: #111313;
  --font-Gotham: 'Gotham', sans-serif;
  --font-SF: 'SF Pro Display', sans-serif;
  --Gotham-light: 300;
  --Gotham-regular: 400;
  --Gotham-medium: 500;
  --Sf-light: 300;
  --Sf-regular: 400;
  --Sf-medium: 500;
  --Sf-semiBold: 600;
}

.df {
  display: flex;
}

.btn {
  width: 264px;
  height: 65px;
  border-radius: 60px;
  font-family: var(--font-SF);
  font-weight: var(--Sf-semiBold);
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #FFF;
  padding: 12px;
  text-align: center;
  line-height: 40px;
  z-index: 10;
}

.btn {
  transition: all 0.3s ease-in-out;
}


.btn-violacio {
  background-color: var(--color-violacio);
}

.btn-violacio:hover {
  background-color: #FFF;
  border: 2.5px solid var(--color-violacio);
  color: var(--color-violacio);
}

.btn-verde {
  background-color: var(--color-verde);
}

.btn-verde:hover {
  background-color: #FFF;
  border: 2.5px solid var(--color-verde);
  color: var(--color-verde);
}


.btn-naranja {
  background-color: var(--color-naranja);
}

.btn-naranja:hover {
  background-color: #FFF;
  border: 2.5px solid var(--color-naranja);
  color: var(--color-naranja);
}


.btn-celeste {
  background-color: var(--color-celeste);
}

.btn-celeste:hover {
  background-color: #FFF;
  border: 2.5px solid var(--color-celeste);
  color: var(--color-celeste);
}

.btn-back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 100px;
  height: 100px;
  cursor: pointer;
  z-index: 10;
}

/* === Cards === */
.section-wwd {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  height: 100%;
  gap: 40px;
}


.section-wwd .card-wwd:nth-child(2) .card-container div {
  background-color: var(--color-celeste);
}

.section-wwd .card-wwd:nth-child(3) .card-container div {
  background-color: var(--color-verde);
}

.card-wwd {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 516px;
  width: 470px;
  border-radius: 21px;
  background-color: var(--color-beige);
}

.card-wwd a {
  position: relative;
  top: 450px;
}

.circulo-icono {
  width: 116px;
  position: relative;
  bottom: 60px;
  z-index: 5;
}

.card-container {
  position: absolute;
  overflow: hidden;
  height: 100%;
  border-radius: 21px;
}

.card-container div {
  background-color: var(--color-naranja);
  height: 130px;
  bottom: 83px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 21px 21px;
}

.card-container .animacion-img {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: var(--color-beige);
  bottom: 83px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px;
}

.card-container div p {
  font-family: var(--font-SF);
  font-weight: var(--Sf-regular);
  font-size: 2rem;
  color: #FFF;
}


/* === Contactanos pre footer === */

.container-contactanos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 700px;
  gap: 60px;
}


.container-contactanos-recuadro {
  background-color: var(--color-beige);
  border-radius: 21px;
  margin: 20px;
}

.get-in-touch-animacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.container-contactanos p {
  font-family: var(--font-SF);
  font-weight: var(--Sf-light);
  font-size: 1.9rem;
}

.container-contactanos h2 {
  font-family: var(--font-SF);
  font-weight: var(--Sf-light);
  font-size: 2.4rem;
  max-width: 72ch;
  text-align: center;
  line-height: 80px;
}

.container-contactanos h2 span {
  font-family: var(--font-SF);
  font-weight: var(--Sf-semiBold);
  font-size: 3rem;
}



/* === Travels Pages === */

.section-travel {
  margin-top: 200px;
  margin-bottom: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.card-wwd-travel {
  height: 912px;
  width: 675px;
  ;
}

.card-container-sections {
  position: absolute;
  overflow: hidden;
  height: 100%;
  border-radius: 21px;
}

.card-container-sections div {
  background-color: var(--color-naranja);
  height: 176px;
  bottom: 204px;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0px 0px 35px 50px;
  border-radius: 0px 0px 21px 21px;
}

.card-container-sections div p {
  font-size: 2.5rem;
  color: #FFF;
}

.section-info-travel {
  width: 1060px;
  padding: 50px;
  background-color: var(--color-beige);
  border-radius: 21px;
}

.section-info-travel h2 {
  font-family: var(--font-SF);
  font-weight: var(--Sf-light);
  font-size: 4.4rem;
  max-width: 21ch;
  margin-bottom: 80px;

}

.section-info-travel h4 {
  font-family: var(--font-SF);
  font-weight: var(--Sf-medium);
  font-size: 1.8rem;
  max-width: 45ch;
  margin-bottom: 20px;
}

.section-info-travel p {
  font-family: var(--font-SF);
  font-weight: var(--Sf-light);
  font-size: 1.6rem;
  margin-bottom: 20px;
  max-width: 55ch;
}

.section-info-travel .important-items span {
  font-family: var(--font-SF);
  font-weight: var(--Sf-medium);
  font-size: 1.8rem;
}

.section-info-travel .important-items p {
  font-family: var(--font-SF);
  font-weight: var(--Sf-light);
  font-size: 1.6rem;
}


/*##### Media query #####*/

/* Móvil */
@media (max-width: 480px) {
  .container-contactanos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 550px;
    gap: 35px;
    padding: 0px 35px;
  }

  .container-contactanos p {
    font-size: 1.2rem;
  }

  .container-contactanos h2,
  .container-contactanos h2 span {
    font-size: 3rem;
  }

  .btn {
    width: 180px;
    height: 40px;
    border-radius: 60px;
    font-family: var(--font-SF);
    font-weight: var(--Sf-semiBold);
    text-transform: uppercase;
    font-size: 1rem;
    color: #FFF;
    padding: 12px;
    text-align: center;
    line-height: 18px;
    z-index: 10;
  }


  .section-wwd {
    padding-top: 100px;
    padding-bottom: 0PX;
    margin-bottom: 250px;
    display: flex;
    justify-content: center;
    height: auto;
    gap: 200px;
    flex-direction: column;
    align-items: center;
  }

  .card-wwd {
    height: 400px;
    width: 300px;
  }

  .circulo-icono {
    width: 90px;
  }

  .card-container {
    height: 400px;
    width: 300px;
  }

  .card-container .animacion-img {
    bottom: 0px;
  }

  .card-container div {
    bottom: 0px;
    height: 100px;
  }

  .card-container div p {
    font-size: 1.5rem;
  }

  .card-wwd a {
    top: 330px;
  }

  /* === Container Contactanos === */

  .container-contactanos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 35px;
    padding: 30px;
  }

  .container-contactanos p {
    font-size: 1rem;
  }

  .container-contactanos h2,
  .container-contactanos h2 span {
    font-size: 1.5rem;
    line-height: 44px;
  }

  .get-in-touch-animacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .btn-back-to-top {
    width: 50px;
    height: 50px;
  }
}



/* Teléfonos grandes */
@media (min-width: 481px) and (max-width: 767px) {

  .container-contactanos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 550px;
    gap: 35px;
    padding: 0px 35px;
  }

  .container-contactanos p {
    font-size: 1.2rem;
  }

  .container-contactanos h2,
  .container-contactanos h2 span {
    font-size: 3rem;
  }

  .btn {
    width: 230px;
    height: 50px;
    border-radius: 60px;
    font-family: var(--font-SF);
    font-weight: var(--Sf-semiBold);
    text-transform: uppercase;
    font-size: 1rem;
    color: #FFF;
    padding: 12px;
    text-align: center;
    line-height: 30px;
    z-index: 10;
  }


  .section-wwd {
    padding-top: 100px;
    padding-bottom: 0PX;
    margin-bottom: 250px;
    display: flex;
    justify-content: center;
    height: auto;
    gap: 200px;
    flex-direction: column;
    align-items: center;
  }

  .card-wwd {
    height: 450px;
    width: 350px;
  }

  .circulo-icono {
    width: 90px;
  }

  .card-container {
    height: 450px;
    width: 350px;
  }

  .card-container .animacion-img {
    bottom: 0px;
  }

  .card-container div {
    bottom: 0px;
    height: 100px;
  }

  .card-container div p {
    font-size: 1.5rem;
  }

  .card-wwd a {
    top: 385px;
  }

  /* === Container Contactanos === */

  .container-contactanos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 35px;
    padding: 30px;
  }

  .container-contactanos p {
    font-size: 1.2rem;
  }

  .container-contactanos h2,
  .container-contactanos h2 span {
    font-size: 1.4rem;
    line-height: 35px;
  }

  .btn-back-to-top {
    width: 60px;
    height: 60px;
  }
}

/* Tablets vertical */
@media (min-width: 768px) and (max-width: 1023px) {
  .container-contactanos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 550px;
    gap: 35px;
    padding: 0px 35px;
  }

  .container-contactanos p {
    font-size: 1.2rem;
  }

  .container-contactanos h2,
  .container-contactanos h2 span {
    font-size: 3rem;
  }

  .btn {
    width: 230px;
    height: 50px;
    border-radius: 60px;
    font-family: var(--font-SF);
    font-weight: var(--Sf-semiBold);
    text-transform: uppercase;
    font-size: 1rem;
    color: #FFF;
    padding: 12px;
    text-align: center;
    line-height: 30px;
    z-index: 10;
  }


  .section-wwd {
    padding-top: 0px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    height: auto;
    gap: 200px;
    flex-direction: column;
    align-items: center;
  }

  .card-wwd {
    height: 450px;
    width: 350px;
  }

  .circulo-icono {
    width: 90px;
  }

  .card-container {
    height: 450px;
    width: 350px;
  }

  .card-container .animacion-img {
    bottom: 0px;
  }

  .card-container div {
    bottom: 0px;
    height: 100px;
  }

  .card-container div p {
    font-size: 1.5rem;
  }

  .card-wwd a {
    top: 385px;
  }

  /* === Container Contactanos === */

  .container-contactanos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
    gap: 35px;
    padding: 30px;
  }

  .container-contactanos p {
    font-size: 1.2rem;
  }

  .container-contactanos h2,
  .container-contactanos h2 span {
    font-size: 1.8rem;
    line-height: 50px;
  }

  .btn-back-to-top {
    width: 70px;
    height: 70px;
  }
}





/* Tablets horizontal / laptops chicas */
@media (min-width: 1024px) and (max-width: 1279px) {

  /* === Trio Cards Travels Pages === */
  .btn {
    width: 210px;
    height: 50px;
    font-size: 1rem;
    line-height: 25px;
  }

  .card-wwd {
    height: 350px;
    width: 250px;
  }

  .circulo-icono {
    width: 90px;
  }

  .card-container {
    height: 350px;
    width: 250px;
  }

  .card-container .animacion-img {
    bottom: 0px;
  }

  .card-container div {
    bottom: 0px;
    height: 100px;
  }

  .card-container div p {
    font-size: 1.6rem;
  }

  .card-wwd a {
    top: 300px;
  }

  .section-wwd {
    height: 700px;
  }

  /* === Container Contactanos === */
  .container-contactanos {
    padding: 30px;
  }

  .container-contactanos h2,
  .container-contactanos h2 span {
    font-size: 3rem;
  }

  .container-contactanos p {
    font-size: 1.5rem;
  }

  /* === Travels Pages === */

  .section-travel {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .section-info-travel {
    width: 550px;
    padding: 30px;
  }

  .section-info-travel h2 {
    font-size: 2.5rem;
  }

  .section-info-travel h4 {
    font-size: 1.6rem;
  }

  .section-info-travel p {
    font-size: 1rem;
  }

  .section-info-travel .important-items span {
    font-size: 1.4rem;
  }

  .section-info-travel .important-items p {
    font-size: 1.2rem;
  }

  .btn-back-to-top {
    width: 80px;
    height: 80px;
  }
}

/* Desktop normal */
@media (min-width: 1280px) and (max-width: 1535px) {

  /* === Trio Cards Travels Pages === */
  .section-wwd {
    height: 900px;
  }

  .card-wwd {
    width: 350px;
    height: 479px;
  }

  .card-container {
    width: 350px;
  }

  .card-container .animacion-img {
    bottom: 0px;
  }

  .card-container div {
    bottom: 0px;
  }

  .card-container div p {
    font-size: 1.7rem;
  }

  .card-wwd a {
    position: relative;
    top: 430px;
  }

  .circulo-icono {
    width: 100px;
  }

  /* === Travels Pages === */
  .section-info-travel {
    width: 50%;
  }

  .section-info-travel h2 {
    font-size: 3.5rem;
  }

  .container-contactanos h2 {
    font-size: 1.8rem;
    max-width: 60ch;
    line-height: 60px;
  }

  .section-info-travel h4 {
    font-size: 1.6rem;
  }

  .section-info-travel p {
    font-size: 1.5rem;
  }

  .section-info-travel .important-items span {
    font-size: 1.6rem;
  }

  .section-info-travel .important-items p {
    font-size: 1.4rem;
  }

  .card-wwd-travel {
    height: 775px;
    width: 600px;
  }

  .card-container-sections {
    width: 600px;
    height: 775px;
  }

  .card-container-sections div {
    padding: 0px 0px 60px 50px;
  }

  .card-container-sections div p {
    font-size: 2.2rem;
  }
}