.container-travel-profile {
  width: 90%;
  margin: 0 auto;
}

.container-travel-profile h2 {
  margin-top: 200px;
  margin-bottom: 100px;
  font-family: var(--font-Gotham);
  font-weight: var(--Gotham-medium);
  font-size: 5rem;
}

.container-travel-profile form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-travel-profile form h4 {
  font-family: var(--font-Gotham);
  font-weight: var(--Gotham-medium);
  font-size: 2.5rem;
  max-width: 421px;
}

.container-travel-profile form p {
  font-family: var(--font-SF);
  font-weight: var(--Sf-semiBold);
  font-size: 1.2rem;
  color: var(--color-violacio);
  max-width: 500px;
}

.container-travel-profile form a {
  font-family: var(--font-SF);
  font-weight: var(--Sf-light);
  font-size: 1.2rem;
  color: var(--color-violacio);
  text-decoration: underline;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.container-cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

.container-card {
  width: 100%;
  background-color: var(--color-beige);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  ;
  padding: 50px;
}

.container-inputs {
  display: flex;
  gap: 40px;
  flex-direction: column;
}

.container-inputs-radio {
  display: flex;
  gap: 80px;
  flex-direction: row;
}

.title-radio label {
  font-size: 1.6rem;

}

.input-left-radio,
.input-right-radio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.group-inputs-radio {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 40px;
}

.input-radio {
  display: flex;
  gap: 10px;
}

.input-radio label {
  font-size: 1.2rem;
}

input[type="radio"] {
  width: 20px;
  height: 20px;
  accent-color: var(--color-violacio);
  cursor: pointer;
}

.input-left,
.input-right,
.input-full {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"] {
  width: 350px;
  height: 60px;
  border: none;
  border-radius: 12px;
  padding: 20px;
}

input.input-full {
  width: 750px;
  height: 60px;
}

input:focus,
textarea:focus {
  outline: none;
}

.inputs-inline {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 50px;
}

/*dropdown*/
.dropdown {
  position: relative;
  width: 350px;
}

.dropdown-selected {
  background: white;
  width: 350px;
  height: 60px;
  border: none;
  border-radius: 12px;
  padding: 20px;
  cursor: pointer;
  position: relative;
}

.dropdown-selected::after {
  content: "▾";
  position: absolute;
  right: 16px;
  top: 12px;
  pointer-events: none;
}

.dropdown-options {
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: none;
  border-radius: 0 0 6px 6px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  background: white;
  position: absolute;
  width: 100%;
  z-index: 2;
  overflow-y: auto;
}

.dropdown.open .dropdown-options {
  max-height: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-options li {
  padding: 12px 16px;
  cursor: pointer;
}

.dropdown-options li:hover {
  background-color: #f0f0f0;
}

.hidden-select {
  display: none;
}

/*///////////////////////////////////*/

.container-travel-profile button {
  margin-top: 100px;
  margin-bottom: 200px;
}



/*##### Media query #####*/

/* Móvil */
@media (max-width: 480px) {}



/* Teléfonos grandes */
@media (min-width: 481px) and (max-width: 767px) {}

/* Tablets vertical */
@media (min-width: 768px) and (max-width: 1023px) {}





/* Tablets horizontal / laptops chicas */
@media (min-width: 1024px) and (max-width: 1279px) {}

/* Desktop normal */
@media (min-width: 1280px) and (max-width: 1535px) {}