.section-trusted-by {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-trusted-by h2 {
    font-family: var(--font-Gotham);
    font-weight: var(--Gotham-medium);
    font-size: 5rem;
    margin-bottom: 50px;
}

.decoration-partner {
    position: absolute;
    right: 13px;
    bottom: 394px;
}

.decoration-partner img {
    width: 100%;
}


.section-artist {
    width: 1774px;
    height: auto;
    border-radius: 21px;
    gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--color-naranja);
}


.container-cards-artist {
    display: flex;
    gap: 21px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 60px 0px;
}

.card-artist {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    height: 367px;
    width: 300px;
    background-color: var(--color-beige);
    border-radius: 10px;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: scale(1.05);
    }

}

.card-artist p {
    padding-top: 30px;
    font-family: var(--font-Gotham);
    font-weight: var(--Gotham-light);
    font-size: 1rem;
}

.VER_MAS {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.btn-open-modal {
    color: var(--color-negro);
    text-decoration: underline;
    font-family: var(--font-Gotham);
    font-weight: var(--Gotham-medium);
    font-size: 2rem;
    padding: 0px;
    width: auto;
    height: auto;
    padding: 0px 0px 30px 40px;
}

.modal {
    inset: 0;
    margin: auto;
    width: min(90%, 1000px);
    padding: 3rem 1.5rem;
    border-radius: 10px;
    background-color: var(--color-beige);
    border: none;

    &::backdrop {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.container-close-modal {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
}

.btn-close-modal {
    font-size: 1.2rem;
}

.list-more-artist {
    padding: 2rem;
    color: var(--color-naranja);
    font-family: var(--font-Gotham);
    font-weight: var(--Gotham-medium);
    font-size: 1.65rem;
    text-transform: uppercase;
    text-align: center;
}

.section-partners {
    margin-top: 130px;
    margin-bottom: 100px;
    width: 100%;
    height: auto;
    background-color: var(--color-beige);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 140px;
}

.container-titular {
    width: 630px;
    height: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-negro);
    border-radius: 80px 105px 105px 0px;
}

.container-titular h4 {
    color: var(--color-beige);
    font-family: var(--font-Gotham);
    font-weight: var(--Gotham-medium);
    font-size: 2rem;
}

.logos-partners {
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 145px;
}