.section-trusted-by {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-trusted-by h2 {
    font-family: var(--font-Gotham);
    font-weight: var(--Gotham-medium);
    font-size: 5rem;
    margin-bottom: 50px;
}

.decoration-partner {
    position: absolute;
    right: 13px;
    bottom: 394px;
}

.decoration-partner img {
    width: 100%;
}


.section-artist {
    width: 1774px;
    height: auto;
    border-radius: 21px;
    gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--color-naranja);
}


.container-cards-artist {
    display: flex;
    gap: 21px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 60px 0px;
}

.card-artist {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    height: 367px;
    width: 300px;
    background-color: var(--color-beige);
    border-radius: 10px;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: scale(1.05);
    }

}

.card-artist p {
    padding-top: 30px;
    font-family: var(--font-Gotham);
    font-weight: var(--Gotham-light);
    font-size: 1rem;
}

.VER_MAS {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.btn-open-modal {
    color: var(--color-negro);
    text-decoration: underline;
    font-family: var(--font-Gotham);
    font-weight: var(--Gotham-medium);
    font-size: 2rem;
    padding: 0px;
    width: auto;
    height: auto;
    padding: 0px 0px 30px 40px;
}

.modal {
    inset: 0;
    margin: auto;
    width: min(90%, 1000px);
    padding: 3rem 1.5rem;
    border-radius: 10px;
    background-color: var(--color-beige);
    border: none;

    &::backdrop {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.container-close-modal {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
}

.btn-close-modal {
    font-size: 1.2rem;
}

.list-more-artist {
    padding: 2rem;
    color: var(--color-naranja);
    font-family: var(--font-Gotham);
    font-weight: var(--Gotham-medium);
    font-size: 1.65rem;
    text-transform: uppercase;
    text-align: center;
}

.section-partners {
    margin-top: 130px;
    margin-bottom: 100px;
    width: 100%;
    height: auto;
    background-color: var(--color-beige);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 140px;
}

.container-titular {
    width: 630px;
    height: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-negro);
    border-radius: 80px 105px 105px 0px;
}

.container-titular h4 {
    color: var(--color-beige);
    font-family: var(--font-Gotham);
    font-weight: var(--Gotham-medium);
    font-size: 2rem;
}

.logos-partners {
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 145px;
}





/*##### Media query #####*/

/* Móvil */
@media (max-width: 480px) {

    .section-trusted-by {
        padding-top: 50px;
    }

    .section-trusted-by h2 {
        font-size: 3rem;
    }

    .container-cards-artist {
        flex-direction: row;
    }

    .decoration-partner {
        display: none;
        width: 250px;
        position: absolute;
        right: 49px;
        bottom: 570px;
    }

    .decoration-partner img {
        width: 100%;
    }

    .section-artist {
        width: 90%;
        height: auto;
        gap: 0px;
    }

    .container-cards-artist {
        gap: 10px;
    }

    .card-artist {
        padding: 5px;
        height: 200px;
        width: 140px;
    }

    .card-artist p {
        text-align: center;
        padding-top: 19px;
        font-size: 0.7rem;
    }

    .btn-open-modal {
        font-size: 1.3rem;
        padding: 15px;
    }

    .container-titular {
        width: 300px;
        height: 100px;
    }

    .container-titular h4 {
        font-size: 1rem;
    }

    .section-partners {
        margin-bottom: 0px;
        padding: 40px;
    }

    .logos-partners {
        margin-top: 100px;
        gap: 100px;
    }

    .logos-partners img {
        max-width: 40%;
    }

    .list-more-artist {
        font-size: 0.7rem;
    }
}



/* Teléfonos grandes */
@media (min-width: 481px) and (max-width: 767px) {
    .section-trusted-by {
        padding-top: 50px;
    }

    .section-trusted-by h2 {
        font-size: 3.5rem;
    }

    .container-cards-artist {
        flex-direction: row;
    }

    .decoration-partner {
        display: none;
        width: 300px;
        position: absolute;
        right: 0px;
        bottom: 600px;
    }

    .decoration-partner img {
        width: 100%;
    }

    .section-artist {
        width: 90%;
        height: auto;
        gap: 0px;
    }

    .container-cards-artist {
        gap: 20px;
    }

    .card-artist {
        padding: 5px;
        height: 220px;
        width: 180px;
    }

    .card-artist p {
        text-align: center;
        padding-top: 16px;
        font-size: 0.75rem;
    }

    .btn-open-modal {
        font-size: 1.5rem;
        padding: 0px 0px 20px 30px;
    }

    .container-titular {
        width: 400px;
        height: 105px;
    }

    .container-titular h4 {
        font-size: 1.5rem;
    }

    .logos-partners {
        margin-top: 100px;
        gap: 100px;
    }

    .logos-partners img {
        max-width: 80%;
    }

    .list-more-artist {
        font-size: 1rem;
    }
}

/* Tablets vertical */
@media (min-width: 768px) and (max-width: 1023px) {
    .section-trusted-by {
        padding-top: 50px;
    }

    .section-trusted-by h2 {
        font-size: 3.5rem;
    }

    .decoration-partner {
        width: 300px;
        position: absolute;
        right: 0px;
        bottom: 460px;
    }

    .decoration-partner img {
        width: 100%;
    }

    .section-artist {
        width: 90%;
        height: auto;
        gap: 0px;
    }

    .container-cards-artist {
        gap: 15px;
    }

    .card-artist {
        padding: 5px;
        height: 250px;
        width: 200px;
    }

    .card-artist p {
        padding-top: 20px;
        font-size: 0.8rem;
    }

    .btn-open-modal {
        font-size: 1.5rem;
        padding: 0px 0px 20px 30px;
    }

    .container-titular {
        width: 560px;
        height: 105px;
    }

    .container-titular h4 {
        font-size: 1.6rem;
    }

    .logos-partners {
        margin-top: 100px;
        gap: 100px;
    }

    .logos-partners img {
        max-width: 35%;
    }
}





/* Tablets horizontal / laptops chicas */
@media (min-width: 1024px) and (max-width: 1279px) {
    .section-trusted-by {
        padding-top: 50px;
    }

    .section-trusted-by h2 {
        font-size: 4rem;
    }

    .decoration-partner {
        width: 300px;
        position: absolute;
        right: 4px;
        bottom: 290px;
    }

    .decoration-partner img {
        width: 100%;
    }

    .section-artist {
        width: 90%;
        height: auto;
        gap: 0px;
    }

    .container-cards-artist {
        gap: 15px;
    }

    .card-artist {
        padding: 5px;
        height: 250px;
        width: 200px;
    }

    .card-artist p {
        padding-top: 20px;
        font-size: 0.8rem;
    }

    .btn-open-modal {
        font-size: 1.5rem;
        padding: 0px 0px 20px 30px;
    }

    .logos-partners {
        margin-top: 100px;
        gap: 100px;
    }

    .logos-partners img {
        max-width: 23%;
    }
}

/* Desktop normal */
@media (min-width: 1280px) and (max-width: 1535px) {

    .section-trusted-by h2 {
        font-size: 4rem;
    }

    .section-artist {
        width: 80%;
    }

    .decoration-partner {
        position: absolute;
        right: 70px;
        bottom: 250px;
    }

    .decoration-partner {
        width: 376px
    }

    .container-cards-artist {
        gap: 50px;
    }

    .logos-partners {
        gap: 80px;
    }
}